* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
}

.header {
    background-color: #1f2937;
    padding: 0%;
}

#logo {
    color: white;
    size: 24px;
    text-align: left;
    align-items: center;
    margin-right: auto;
    padding: 15px 35px;

}

#header-link {
    color: #e5e7eb;
    size: 18px;
    text-align: right;
    list-style: none;
    padding: 15px 35px;
}
#header-link li {
    display: inline;
    padding: 15px 35px;
    text-align: right;
}

.description {
    background-color: #1f2937;
    padding: 60px 35px;
}

img {
    height: 64px;
    width: 80px;
}

h2 {
    size: 48px;
    color: white;
}