* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
}

.header {
    background-color: #1f2937;
    padding: 0%;
}

#logo {
    color: white;
    font-size: 24px;
    text-align: left;
    align-items: center;
    margin-right: auto;
    margin-left: 290px;
    padding: 15px 35px;

}

#header-link {
    color: #e5e7eb;
    font-size: 18px;
    text-align: right;
    list-style: none;
    padding: 15px 35px;
}
#header-link li {
    display: inline;
    text-align: right;
    margin-left: 0px;
    margin-right: 250px;
    margin-left: -200px;
}

.description {
    background-color: #1f2937;
    padding: 60px 75px;
    height: 400px;
}

.description-containters {
    display: flex;
    flex-direction: row;
}

.img {
    width: 480px;
    height: 220px;
    float: right;
    margin: -170px 200px 120px 0px;
}

.description p {
    color:gray;
    margin-left: 250px;
}

.description h2 {
    color: #e5e7eb;
    margin-left: 250px;
}

.des-h2 {   
    font-size: 48px;
    margin-top: 10px;
}

.top-button {
    margin-left: 250px;
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    margin-top: 15px;
}

.information h6 {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 25px;
    text-align: center
}

.info-img {
    display: flex;
    width: 30px;
    height: 80px;
    margin-top: 25px;
}

.one {
    margin-right: 40px;
    margin-left: 450px;
    border-radius: 15px;
    border: 2px solid #3882f6;
}

.two {
    margin-right: 40px;
    border-radius: 15px;
    border: 2px solid #3882f6;
}

.three {
    
    border: 2px solid #3882f6;
    margin-right: 40px;
    border-radius: 15px;
}

.four {
    margin-right: 150px;
    border-radius: 15px;
    border: 2px solid #3882f6;
}